@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Rubik+Doodle+Shadow&display=swap');

header{
    background-color: black;
    width: 100%;
}

nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

nav>div{
    display: flex;

}

header>nav>ul{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
}

header>nav>ul>li:last-child{
    margin-left: 20px;
    cursor: pointer;
}

header>nav>ul>li>a{
    text-decoration: none;
    text-wrap: nowrap;
}


.main__section{
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.logo{
    align-content: baseline;
    pointer-events: none;
    font-family: 'Dancing Script';
    font-size: 40px;
    text-decoration: none;
    text-shadow: 1px 1px var(--main-yellow-color-capacity-75);
}

#listToggler{
 display: flex;   
}

#nav__btn{
    border: 2px solid rgb(255, 226, 4);
    border-radius: 10px;
    background-color: transparent;
    width:80px;
    
}

#about{
    background-color: black;
}

#experience{
    background-color: aqua;
}

#achivement{
    background-color: var(--main-dark-color);
}

#history{
    background-color: cadetblue;
}
