
header{
    background-color: var(--main-dark-color);
    width: 100%;
    height: var(--header-height);
    padding:0 5%;
}

nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

nav>div{
    display: flex;

}

header>nav>ul{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
}

header>nav>ul>li:last-child{
    margin-left: 20px;
    cursor: pointer;
}

header>nav>ul>li>a{
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255,0);
    text-wrap: nowrap;
    font-family: 'Comfortaa', sans-serif;
    font-size: 0.9rem;
}


.logo{
    align-content: baseline;
    pointer-events: none;
    font-family: 'Dancing Script';
    font-size: 2.7rem;
    text-decoration: none;
    text-shadow: 1px 1px var(--main-yellow-color-capacity-75);
}

#listToggler{
 display: flex;   
}

header>nav>ul>li>a:hover{
    text-decoration-style:wavy;
    text-decoration-color: rgb(255, 255, 255);
    animation: text__appear 1s 0s 1 ease-out forwards;
}


@keyframes text__appear {
    0%{
        text-decoration-color: rgb(255, 255, 255,0);
        text-underline-offset: -20px;
    }
    100%{
        text-underline-offset: 5px;
        text-decoration-color: rgb(255, 255, 255,1);
    }
}

#nav__btn{
    border: 2px solid rgb(255, 226, 4);
    border-radius: 10px;
    background-color: transparent;
    width:80px;
    
}

#about{
    background-color: var(--main-dark-color);
}

#experience{
    background-color: var(--main-dark-color);
}

#achivement{
    background: url(../src/dots_grid.svg) no-repeat;
    background-position: 10% 0;
    background-size: 20% 20%;
}

#history{
    background-color: cadetblue;
}
